/* Todo */
ul.todo li {
  background-color: #ffc;
}

header, footer, nav, section, article { 
 display:block; 
}

html * { 
  font-family: helvetica, arial, sans-serif;
  line-height: 140%;
}

body {
  padding: 0 2em;
}

p, ul, ol, blockquote, code.block, dl, figure, pre, table {
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 .25em;
}

section > h1,
article > h1 {
  margin-top: 0;
}

h1 {
  font-size: 140%;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
}

abbr, acronym {
  border-bottom: .1em dotted;
  cursor: help;
}

figure, video, img {
  border: 1px solid #ccc;
  padding: 10px;
}

blockquote {
  background: #f0f0f0;
  padding: 10px;
}

dt {
  font-weight: bold;
}

q:before {
  content: "\201c";
}

q:after {
  content: "\201d";
}

q q:before {
  content: "\2018";
}

q q:after {
  content: "\2019";
}

code.block {
  display: block;
}

del {
  color: #999;
}

sub, sup {
  font-size:xx-small; 
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

dt {
  
}

dd {
  margin-left: 1em;
}

table {
  border: 2px solid #ccc;
  width: 100%;
}

table caption {
  text-align: left;
}

th {
  background-color: #f0f0f0;
  text-align: left;
}

th,
td {
  padding: 2px 5px;
}

ul, ol {
  display: block;
  margin-left: 1.5em;
}

#header {
  border-bottom: 1px solid #ccc;
  margin: 1em 0;
  padding: 1em 0;
}

#header nav li {
  display: inline-block;
}

#header nav {
  margin-top: 1em;
}

#header nav li a {
  padding: 0 20px 0 0 ;
  text-decoration: none;
}

#footer {
  border-top: 1px solid #ccc;
  clear: both;
  margin: 1em 0;
  padding: 1em 0;
}

/***** `post *****/

article.post {
}

article.post header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

article.post header time {
  color: #666;
}

article.post header h1 {
}

article.post header p {
  margin: 0;
}


article.post .author {
}

/***** `update *****/

section.update {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 1em 0;
  padding: 1em 0 0;
}

/***** `footnotes *****/

section.footnotes {
}

section.footnotes ul {
}

section.footnotes ul li {
}

/***** `comments *****/

section.comments {
  border-top: 1px solid #ccc;
  margin-top: 1em;
}

section.comments article {
  border-top: 1px solid #ccc;
  padding-top: 1em;
}

section.comments form {
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  padding: 10px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}