header, footer, nav, section, article { 
 display:block; 
}

html * { 
  font-family: helvetica, arial, sans-serif;
  line-height: 140%;
}

body {
  padding: 0 2em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 .25em;
}

p, ul, ol, blockquote, code.block, dl, figure, pre, table {
  margin-bottom: 1em;
}

h1 {
  font-size: 140%;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
}

abbr, acronym {
  border-bottom: .1em dotted;
  cursor: help;
}

figure, video, img {
  border: 1px solid #ccc;
  padding: 10px;
}

blockquote {
  background: #f0f0f0;
  padding: 10px;
}

q:before {
  content: "\201c";
}

q:after {
  content: "\201d";
}

q q:before {
  content: "\2018";
}

q q:after {
  content: "\2019";
}

code.block {
  display: block;
}

del {
  color: #999;
}

sub, sup {
  font-size:xx-small; 
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

dt {
  
}

dd {
  margin-left: 1em;
}

table {
  border: 2px solid #ccc;
  width: 100%;
}

table caption {
  text-align: left;
}

th {
  background-color: #f0f0f0;
  text-align: left;
}

th,
td {
  padding: 2px 5px;
}

#header {
  border-bottom: 1px solid #ccc;
  margin: 1em 0;
  padding: 1em 0;
}

#footer {
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 1em 0;
}
