/* 

This should only contain styles that make forms more usable regardless of the medium.

*/

input, textarea, button {
  font-size: 100%;
}

form {
  margin-bottom: 1em;
}

.field {
  margin-bottom: .5em;
}

.field label {
  display: block;
}

.field span {
  color: #666;
  font-size: 90%;
}

.field > span {
  display: block;
}

fieldset {
  border-top: 2px solid #ccc;
  margin-bottom: 1em;
}

fieldset legend {
  padding-right: 5px;
}

textarea {
  width: 90%;
  height: 6em;
}

.placeholder {
  color: #999;
}