/* 

This should only contain styles that make forms more usable regardless of the medium.

*/

button, input, select, textarea {
  font-size: 100%;
}

form {
  margin-bottom: 1em;
}

.field {
  margin-bottom: .5em;
}
  
  .x-large.field input { width: 30em; }
  .large.field input { width: 20em; }
  /* Medium is excluded because it is the default size. */
  .small.field input { width: 8em; }
  .x-small.field input { width: 3em; }

.field li {
  line-height: 180%;
  list-style-type: none;
  margin-left: -1.5em;
  
}

input[type="radio"] { 
  vertical-align: text-bottom;
}

input[type="checkbox"] { 
  vertical-align: bottom; 
  *vertical-align: baseline; 
}

.field label {
  display: block;
}

.field > input[type="checkbox"] + label,
.field li label {
  display: -moz-inline-stack;
  display: inline-block;
}

.field span {
  color: #666;
  font-size: 90%;
}

.field > span {
  display: block;
}

fieldset {
  border-top: 2px solid #ccc;
  margin-bottom: 1em;
}

fieldset legend {
  padding-right: 5px;
}

textarea {
  width: 90%;
  height: 6em;
}

.placeholder {
  color: #999;
}

input:focus,
select:focus,
textarea:focus {
  background: #e9f4ff;
  border: 1px solid #38638e!important;
}

input[type="date"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  border-top: 1px solid #666;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #666;
  line-height: 140%;
}

input[type="date"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
  padding: 5px 2px 1px 2px;
}

input[type="search"] {
  border-color: #999;
  padding: 5px 10px 1px 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

label, 
input[type=button],
input[type=submit],
button { 
  cursor: pointer;
}

input[type=button],
input[type=submit],
button { 
  /* http://www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
  width: auto;
  overflow: visible;
}