/* 

This should only contain styles that we explicitly want to hide from print. 

ex. layout, float, background images, etc.

*/

.blurb {
  border-style: solid;
  border-width: 2px;
  margin: 0 0 10px 0;
  padding: 10px;
}

.blurb strong {
  
}

.blurb p {
  margin: 0;
}

.error.blurb {
  background-color: #ffebeb;
  border-color: #e65757;
}

.warning.blurb {
  background-color: #ffffe5;
  border-color: #d3b586;
}

.notice.blurb {
  background-color: #eeffeb;
  border-color: #3abe24;
}