/* 

This should only contain styles that we implicitly want to hide from print. 

ex. layout, float, background images, etc.

*/

img {
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

.blurb {
  border-style: solid;
  border-width: 2px;
  margin: 0 0 10px 0;
  padding: 10px;
}

.blurb strong {
  
}

.blurb p {
  margin: 0;
}

.error.blurb {
  background-color: #ffebeb;
  border-color: #e65757;
}

.warning.blurb {
  background-color: #ffffe5;
  border-color: #d3b586;
}

.notice.blurb {
  background-color: #eeffeb;
  border-color: #3abe24;
}

aside {
  border-left: 1px solid #ccc;
  float: right;
  padding-left: 1em;
  width: 25%;
}

p.slab { font-family: "museo-sans-1", "museo-sans-2", helvetica, arial, serif; }
p.sans { font-family: "museo-slab-1", "museo-slab-2", helvetica, arial, serif; }